@import '~@angular/material/core/style/elevation';

.toolbar {
  @include md-elevation(1);
  @include md-elevation-transition;
}

.connection-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.connection-input-group {
  display: flex;
  flex-direction: row;
}

.connection-divider {
  margin: 15px 5px 0 5px;
}

label.md-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

a.back-button {
  line-height: 38px;
}
