@import '~@angular/material/core/style/elevation';

connection-list {
  display: flex;
  flex: auto;
}

md-nav-list {
  flex: auto;
}

md-list-item {
  color: #666;
}

md-list-item .list-item-title {
  margin-bottom: 5px;
}

md-list-item .list-item-detail {
  margin-top: 5px;
  color: #ccc;
}

md-list-item .list-action {
  margin-left: auto;
}

.toolbar {
  @include md-elevation(1);
  @include md-elevation-transition;
}

.subheader {
  padding: 0 16px;
  color: rgba(0, 0, 0, .5);
}

.lists {
  overflow: scroll;
}

.fab {
  position: fixed;
  right: 15px;
  top: 44px;
  z-index: 10;
}
